<div class="container__big-card">

  <div class="big-card__photos">
    <img src="https://hermes.dio.me/articles/cover/a31f0cc7-dca1-463a-81a5-be1a47d97662.png" alt="">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
      No coração do código, pulsa a essência da criação.
      Cada linha escrita, cada componente integrado, é mais do que tecnologia —
      é uma ponte entre ideias e experiências. Aqui, neste projeto,
      a inovação encontra a simplicidade e transforma o abstrato em funcional.
      Construímos não apenas aplicações, mas conexões que fazem sentido.
    </a>
  </p>
  </div>

</div>
