@media screen and (max-width:1024px) {

.container__small-card{
  --border: 1px solid white;
  width: 100px;
  margin-bottom: 15px;
}
.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__photos > img{
  width: 35px;
  min-width: 35px;
  margin-right: 20px;
}

.small-card__title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3px;
}

.small-card__title > h1 > a{
  text-decoration: none;
}

.container__small-card-separator{
  margin-top: 10px;
}
}
