.container__content{
  --border: 1px solid white;
  width: 100%;
  height: 100vh;

  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__cover{
  --border: 1px solid gray;
}

.content__cover > img {
  border: 5px solid rgb(131, 130, 130);
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content__cover > a {
  padding: 8px 16px;
  background-color: #dd1b16;
  color: white;
  text-decoration: none;
  border-radius: 5px;

  transition: all 0.3s ease;

  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.content__cover > a:hover{
  background-color: #b41511;
  transform: translateX(-6px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.content__cover > a::before{
  content: "â†";
}

.content__description{
  margin-top: 15px;
}

.content__description > p {
  color: gray;
}
